* {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}
body{
  position: relative;
  font-family: 'Noto Sans TC', 'Noto Sans','Microsoft JhengHei',Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color: #00427c !important;
}
a:hover,.nav-tabs .nav-link.active{
  color: #0070be;
}
a:active{
  transform: scale(0.97);
}
.primaryClr,h1,h2,h3,h4,h5,h6{
	color: #00427c !important;
}
.primary2Clr,.nav-tabs .nav-link {
	color: #0086d2  !important;
}
.secondaryClr{
	color: #ff593e !important;
}
.warningClr{
	color: #F6AE2D !important;
}
.successClr{
	color: #0099a0 !important;
}
.dangerClr{
  color: #E55039 !important;
}

.closeBtn{
  cursor: pointer;
}
.btnBC{
  border: 1px solid #00427c;
  background-color: transparent;
  display: inline-block;
  margin: 0 -1px 0 -1px !important;
  color: #00427c;
}
.btnBC:active,.activeBC:active{
  transform: scale(0.97);
}
.btnBC:hover,.activeBC:hover{
  /* border: 1px solid #00427c; */
  background-color: #00427c;
  color: #ffffff !important;
}

.activeBC{
  display: inline-block;
  color:#00427c;
  border: 1px solid #00427c;
  font-weight: 500;
}

.form-control:focus,.form-control:active{
box-shadow: 0 0 1px 1px #00427c;
  outline: none !important;
}
.btn:focus,.btn:active,.navbar-toggler:focus{
box-shadow: 0 0 0 transparent !important;
  outline: none !important;
  border: 0 transparent;
}

/* mainMenu */
#mainMenu{
  background-color: #fff;
}
#searchBar .form-control{
  background-color:#eff4f5 ;
  padding-right: 32px;
}
.shadowBC{
  box-shadow: -1px -1px 7px #ffffff73, 1px 1px 5px rgb(94 104 121 / 29%);
}

#adBanner .carousel-item img{
  filter: opacity(80%);
  object-fit: cover;
  height: 70vh
}
#adBanner .carousel-caption{
  top: 15%;
  left: 15%;
  text-shadow: 0.1rem 0.1rem 0.3rem #000;
}
#adBanner .carousel-caption h1{
  font-size: 3rem;
}
#adBanner .carousel-caption p{
  font-size: 2rem;
}
#adBanner .carousel-indicators button{
  background: #fff;
  height: 1px;
  width: 1px;
  border: 3px solid transparent;
  border-radius: 50%;
  box-shadow: 0.1rem 0.1rem 0.3rem #000;
}

.nav-scroller{
  position: relative;
    z-index: 2;
    overflow-y: hidden;
}
#sort{
  position: sticky;
  top: 58px;
  left: 0;
  background-color: #fff;
  z-index: 3;
}
#sort a{
    height: 65px;
    line-height: 65px;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid #E6EAEA;
    white-space: nowrap;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    cursor: pointer;
}
#sort a:hover{
  color: #bdc3c7 !important;
  background-color: rgba(220, 220, 220, .1);
}
.sortActive{
  color: #ff593e !important;
  border-bottom:4px solid #ff593e;
  font-weight: 500;
}


.sortTag{
  background-color: #0086d2;
  padding: 5px 20px !important;
  color: #fff !important;
  margin: 10px !important;
  font-size: 15px !important;
}
.type{
  background-color: #0086d2;
  position: absolute;
  padding: 5px 20px;
  color: #fff;
  top: -33px;
  right: 0;
}
.brandName{
  background-color: #eff4f5;
  position: absolute;
  padding: 5px 15px;
  color: #00427c;
  bottom:0px;
  left: 0;
}

#pjSample .card .card-img-top{
  height: 200px;
}
#pjSample .card img{
  object-fit: cover;
}

/* 標題動畫 */
.txtTitle{
  opacity: 0;
  transform: translateY(20px);
  transition: 0.8s all ease-in-out;
}
.txtTitleFade{
  opacity: 1;
  transform: translateY(0px);
}


/* footer */
footer{
  /* background-color: #eff4f5; */
  background-color: #00427c;
  color: #fff;
}


.hoverContent{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  position: absolute;
  color: #fff !important;
}
.hoverContent:hover{
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  position: absolute;
  transition: 0.3s;
}
.moreMkTag{
  padding: 5px 10px;
  color: #00427c;
  margin:0 5px;
  background-color: #eff4f5;
  border-radius: 5px;
}
.moreBrTag{
  padding: 5px 10px;
  color: #fff;
  margin:0 5px;
  background-color: #0086d2;
  border-radius: 5px;
}
.look{
  padding: 5px 10px;
  border:1px solid #fff;
  border-radius: 5px;
}
.slick-prev::before,
    .slick-next::before {
      color: #415A80;
    }